<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme  d-inline-block title">Dashboard</h5>
		</div>
		
		<div class="d-flex gap-3 flex-wrap m-4 text-white user-overview ">
			
			<div class="bg-success rounded p-3 overview" style="width: 250px;">
				<div class="fs-1 overview-1"><%= numDonors %></div>
				<div class="fs-5 overview-2">Donors</div>
			</div>
			
			<div class="bg-primary rounded p-3 overview" style="width: 250px;">
				<div class="fs-1 overview-1"><%= numAgents %></div>
				<div class="fs-5 overview-2">Ngo's</div>
			</div>
			
			<div class="bg-success rounded p-3 overview" style="width: 250px;">
				<div class="fs-1 overview-1"><%= numPendingDonations %></div>
				<div class="fs-5 overview-2">New donation requests</div>
			</div>
			
			<div class="bg-warning rounded p-3 overview" style="width: 250px;">
				<div class="fs-1 overview-1"><%=numAssignedDonations%></div>
				<div class="fs-5 overview-2">Donations to be assigned to Ngo</div>
			</div>
			
			<div class="bg-danger rounded p-3 overview" style="width: 250px;">
				<div class="fs-1 overview-1"><%= numRejectedDonations %></div>
				<div class="fs-5 overview-2">Donations not collected yet</div>
			</div>
			
			<div class="bg-success rounded p-3 overview" style="width: 250px;">
				<div class="fs-1 overview-1"><%= numCollectedDonations %></div>
				<div class="fs-5 overview-2">Donations collected</div>
			</div>
			
		</div>
		
	</div>
</main>