<main>
  <%- include('../partials/donorSidebar') %>

  <div id="main-wrapper">
    <div class="bg-white shadow-sm p-3">
      <span class="me-3" id="sidebar-toggler-btn"
        ><i class="fas fa-bars"></i
      ></span>
      <h5 class="m-0 color-theme d-inline-block title">Profile</h5>
    </div>

    <form
      action="/donor/profile?_method=PUT"
      method="POST" enctype="multipart/form-data"
      class="border my-3 p-4 bg-white rounded-2 shadow-sm form-container w-3/4 min-w-[400px] mx-auto sm:w-full sm:min-w-0"
    >
      <div class="grid sm:grid-cols-2 gap-4">
        <div>
          <label for="first-name" class="form-label form-label1">First Name</label>
          <input
            type="text"
            name="donor[firstName]"
            class="form-control form-control1"
            id="first-name"
            placeholder="Enter first name.."
            value="<%=currentUser.firstName %>"
            required
          />
        </div>

        <div>
          <label for="last-name" class="form-label form-label1">Last Name</label>
          <input
            type="text"
            name="donor[lastName]"
            class="form-control form-control1"
            id="last-name"
            placeholder="Enter last name.."
            value="<%= currentUser.lastName %>"
            required
          />
        </div>
      </div>

      <div class="mb-4">
        <label for="email" class="form-label form-label1">Email</label>
        <input
          type="email"
          id="email"
          class="form-control form-control1"
          value="<%= currentUser.email %>"
          disabled
        />
      </div>

      <div class="mb-4">
        <span class="d-inline-block me-2 form-label1">Gender:</span>
        <div class="form-check form-check-inline form-control1">
          <input class="form-check-input " type="radio" name="donor[gender]"
          id="male" value="male" <% if(currentUser.gender=='male'){%> checked
          <%}%> >
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline form-control1">
          <input class="form-check-input " type="radio" name="donor[gender]"
          id="female" value="female" <% if(currentUser.gender=='female'){%>
          checked <%}%> >
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>

      <div class="mb-4">
        <label for="address" class="form-label form-label1">Address</label>
        <input
          type="text"
          name="donor[address]"
          class="form-control form-control1"
          id="address"
          placeholder="Enter address.."
          value="<%= currentUser.address %>"
        />
      </div>
      <div class="mb-4">
        <label for="image" class="form-label form-label1">Profile Image</label>
        <input
          type="file"
          name="image"
          class="form-control form-control1"
          id="image"
          placeholder="upload profile image..."
          value="<%= currentUser.image %>"
        />
      </div>
     

      <div class="mb-4">
        <label for="phone" class="form-label form-label1">Phone</label>
        <input
          type="number"
          name="donor[phone]"
          class="form-control form-control1"
          id="phone"
          placeholder="Enter phone.."
          value="<%= currentUser.phone %>"
        />
      </div>

      <button type="submit" class="btn btn2 w-75 d-block m-auto mt-4">Update</button>
    </form>
  </div>
</main>
